.jumbotron {
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

#topRow {
  display: flex;
  justify-content: center;
}

#leftBox {
  width: 30%;
  height: 300px;
  border: 3px solid black;
  margin-right: 20px;
  text-align: center;
}

#middleBox {
  width: 30%;
  height: 300px;
  border: 3px solid black;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

#rightBox {
  width: 30%;
  height: 300px;
  border: 3px solid black;
  margin-left: 20px;
  text-align: center;
}

#gameRow {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#chatBox {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 200px;
  border: 3px solid black;
}

#chatEnter {
  display: flex;
  justify-content: center;
}

#chatRow {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#chat-form {
  width: 80%;
}

#footer {
  margin-top: 100px;
}
